#mapa {
    height: 100vh;
    width: 100%;
    background-image: url("/assets/fundo.png");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#tela-mapa {
    height: 75vh;
    width: 75vw;
    background: rgba(0, 0, 0, 0.6);
    border: 2px solid #D9D9D9;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#box-menu-mapa {
    height: 75vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 3.5fr 0.5fr;
    grid-template-areas:
        "t t t t"
        "p1 p2 p3 p4"
        "s s s s";
    align-items: center;
    justify-items: center;
}

.titulo-mapa{
    font-family: 'Gemunu Libre';
    font-size: 45px;
    font-weight: 400;
    color: #f6f4f2;
    grid-area: t;
    margin-top: 30px;
    margin-left: 40px;
    align-self: baseline;
    justify-self: baseline;
}

#registro {grid-area: t; align-self: end; justify-self: baseline;}
.subtitulo-mapa {grid-area: s; align-self: end; justify-self: center;}
.subtitulo-mapa, #registro {
    width: 55vw;
    font-family: 'Source Code Pro';
    font-size: 16px;
    font-weight: 400;
    color: #f6f4f2;
    text-align: center;
    margin-left: 40px;
}

#bnt-p1, #bnt-p2, #bnt-p3, #bnt-p4, #bnt-mine-p1, #bnt-mine-p2, #bnt-mine-p3, #bnt-mine-p4{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray; 
}

#bnt-p1:hover, #bnt-p2:hover, #bnt-p3:hover, #bnt-p4:hover, #bnt-mine-p1:hover, #bnt-mine-p2:hover, #bnt-mine-p3:hover, #bnt-mine-p4:hover{
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    filter: gray; 
}

#bnt-p1 {
    width: 13vw;
    background: transparent;
    grid-area: p1;
    align-self: center;
    justify-self: end;
    padding: 8px;
    cursor: pointer;
}

#bnt-p2 {
    width: 21vw;
    background: transparent;
    grid-area: p2;
    align-self:center;
    justify-self: end;
}

#bnt-p3 {
    width: 19vw;
    background: transparent;
    grid-area: p3;
    align-self: center;
    justify-self: baseline;
}

#bnt-p4 {
    width: 14vw;
    background: transparent;
    grid-area: p4;
    align-self: center;
    justify-self: baseline;
}

#box-mapa1, #box-mapa2, #box-mapa3, #box-mapa4 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#img-mapa1 {
    width: 80vw;
    height: 50vh;
    margin-top: 1vh;
}

#img-mapa2 {
    width: 78vw;
    height: 50vh;
    margin-top: 1vh;
}

#img-mapa3 {
    width: 85vw;
    height: 50vh;
    margin-top: 1vh;
    margin-left: 3vw;
}

#img-mapa4 {
    width: 78vw;
    height: 50vh;
    margin-top: 1vh;
}

#mine-menu-mapa {
    display: flex;
    flex-direction: row;
    height: 3vh;
    width: 75vw;
}

#bnt-mine-p1 {
    height: 8vh;
    background: transparent;
    padding: 18px;
}

#bnt-mine-p2 {
    height: 13vh;
    background: transparent;
    align-self: end;
}

#bnt-mine-p3 {
    height: 12vh;
    background: transparent;
    padding: 3px;
}

#bnt-mine-p4 {
    height: 8.5vh;
    background: transparent;
    padding: 15px;
}

#legenda-mapa {
    border: solid 2px #D9D9D9;
    height: 60px;
    width: 75vw;
    text-align: justify;
    grid-area: legenda;
    background: #D9D9D9;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    grid-area: legenda;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#legenda-mapa img {
    height: 40px;
    background-color: #000000;
    padding: 8px;
    border-radius: 15px;
}

#legenda-mapa p {
    width: 65vw;
    font-family: 'Source Code Pro';
    font-size: 18px;
    font-weight: 600;
    color:#000000;
}

.mapa-pinos{
    height: 50vh;
    width: 75vw;
    background: transparent;
    position: absolute;
    margin-top: 85px;
}

.pinos {
    height: 40px; 
    width: 40px;
    border: none; 
    position: absolute;
    background-image: url("/assets/pino.png");
}

.pinos:hover {
    cursor: pointer;
    background-image: url("/assets/pino2.png");
    height: 40px;
}

#m1-pino1{top: 7vh;left: 2vw;}
#m1-pino2{top: 35vh;left: 10vw;}
#m1-pino3{top: 22vh;left: 32vw;}
#m1-pino4{top: 30vh;left: 45vw;}
#m1-pino5{top: 15vh;left: 65vw;}

#nome-art1{top: 2vh;left: 5vw;}
#nome-art2{top: 30vh;left: 13vw;}
#nome-art3{top: 17vh;left: 35vw;}
#nome-art4{top: 25vh;left: 48vw;}
#nome-art5{top: 10vh;right: 10vw; border-bottom-right-radius: 0px; border-bottom-left-radius: 100px;}

#m2-pino1{top: 12vh;left: 2vw;}
#m2-pino2{top: 36vh;left: 9vw;}
#m2-pino3{top: 4vh;left: 32vw;}
#m2-pino4{top: 30vh;left: 45vw;}
#m2-pino5{top: 15vh;left: 65vw;}

#nome-art6{top: 7vh;left: 5vw;}
#nome-art7{top: 31vh;left: 12vw;}
#nome-art8{top: -1vh;left: 35vw;}
#nome-art9{top: 25vh;left: 48vw;}
#nome-art10{top: 10vh;right: 10vw; border-bottom-right-radius: 0px; border-bottom-left-radius: 100px;}

#m3-pino1{top: 20vh;left: 2vw;}
#m3-pino2{top: 36vh;left: 23vw;}
#m3-pino3{top: 10vh;left: 32vw;}
#m3-pino4{top: 3vh;left: 50vw;}
#m3-pino5{top: 15vh;left: 70vw;}

#nome-art11{top: 15vh;left: 5vw;}
#nome-art12{top: 31vh;left: 26vw;}
#nome-art13{top: 5vh;left: 35vw;}
#nome-art14{top: -2vh;left: 53vw;}
#nome-art15{top: 10vh;right: 5vw; border-bottom-right-radius: 0px; border-bottom-left-radius: 100px;}

#m4-pino1{top: 26vh;left: 2vw;}
#m4-pino2{top: 36vh;left: 25vw;}
#m4-pino3{top: 4vh;left: 34vw;}
#m4-pino4{top: 25vh;left: 54vw;}
#m4-pino5{top: 10vh;left: 68vw;}

#nome-art16{top: 21vh;left: 5vw;}
#nome-art17{top: 31vh;left: 28vw;}
#nome-art18{top: -1vh;left: 37vw;}
#nome-art19{top: 20vh; right: 21vw; border-bottom-right-radius: 0px; border-bottom-left-radius: 100px;}
#nome-art20{top: 5vh;right: 7vw; border-bottom-right-radius: 0px; border-bottom-left-radius: 100px;}

.nome-art {
    font-family: 'Source Code Pro';
    font-size: 20px;
    font-weight: 600;
    color:#f6f4f2;; 
    text-align: center;
    line-height: 0.8;
    margin-top: 8px;
    background-color:  rgba(0, 0, 0, 0.6);
    width: 250px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border: solid 1.5px #D9D9D9;
    padding: 10px;
    position: absolute;
}

@media (max-width: 788px) {
    #legenda-mapa p {font-size: 16px;}
}

@media (max-width: 680px) {
    #legenda-mapa p {font-size: 15px;}
}