<section id="sobre">
    <div id="ceu">
        <img id="planeta-rosa2" src="/assets/planeta-rosa.png">
        <img id="lua2" src="/assets/lua.png">
        <img id="planeta-rosinha2" src="/assets/planeta-rosinha.png">
        <img id="planeta-azul2" src="/assets/planeta-azul.png">
        <img id="planeta-amarelo2" src="/assets/planeta-amarelo.png">
        <div id="stars">
            <img id="s1" src="/assets/estrela.png">
            <img id="s2" src="/assets/estrela.png">
            <img id="s3" src="/assets/estrela.png">
            <img id="s4" src="/assets/estrela.png">
            <img id="s5" src="/assets/estrela.png">
            <img id="s6" src="/assets/estrela.png">
            <img id="s7" src="/assets/estrela.png">
            <img id="s8" src="/assets/estrela.png">
            <img id="s9" src="/assets/estrela.png">
            <img id="s10" src="/assets/estrela.png">
            <img id="s11" src="/assets/estrela.png">
            <img id="s12" src="/assets/estrela.png">
            <img id="s13" src="/assets/estrela.png">
            <img id="s14" src="/assets/estrela.png">
            <img id="s15" src="/assets/estrela.png">
            <img id="s16" src="/assets/estrela.png">
            <img id="s17" src="/assets/estrela.png">
        </div>
    </div>
    <h1 class="titulo-sobre">Principio do Principio</h1>
    <h2 id="subtitulo-sobre">“Três garotas embarcaram em uma jornada por um mundo desconhecido e essa aventura acabou criando um novo universo...”</h2>
    <p id="texto-sobre">O Tecverso nasceu como projeto de prática profissional de alunas do 4º ano do curso Técnico Integrado em Informática do IFRN, campus Parnamirim.<br>Após uma jornada de muitos desafios, apredizagem e descoberta, elas se juntaram para apresentar o universo da informática para mais meninas.</p>
    <input id="saiba-mais" type="button" value="Saiba Mais" (click)="mostrar()">
</section>
<section id="sobre2" *ngIf="div">
    <h1 class="titulo-sobre">Nossa Jornada</h1>
    <div id="linha-do-tempo">
        <div class="partes">
            <div class="box-tag">
                <img id="tag1" src="/assets/if.png"> 
                <div class="linha2"></div>
            </div>
            <h1 class="titulo-parte">IFRN - 2019</h1>
            <img class="foto" src="/assets/foto-stemb.jpg">
            <p class="texto-parte">Ingresso das alunas no curso Técnico em Integrado em Informática do IFRN.</p> 
        </div>
        <div class="partes">
            <div class="box-tag">
                <img id="tag1" src="/assets/if.png"> 
                <div class="linha2"></div>
            </div>
            <h1 class="titulo-parte">Coisa de homem?</h1>
            <img class="foto" src="/assets/foto-stemb.jpg">
            <p class="texto-parte">Ao longo do curso elas foram percebendo que não conheciam mulheres que trabalhavam na área e que havia poucas meninas interessadas ao seu redor. Será que tecnologia e informática era só coisa de menino?</p> 
        </div>
        <div class="partes">
            <div class="box-tag">
                <img id="tag1" src="/assets/stemb.png"> 
                <div class="linha2"></div>
            </div>
            <h1 class="titulo-parte">STEMB - 2021</h1>
            <img class="foto" src="/assets/foto-stemb.jpg">
            <p class="texto-parte">Criação do coletivo STEM para Buliçosas, com o objetivo de incentivar meninas nas áreas de STEM - ciência, tecnologia, engenharia e matemática.</p> 
        </div>
        <div class="partes">
            <div class="box-tag">
                <img id="tag1" src="/assets/proj.png"> 
                <div class="linha2"></div>
            </div>
            <h1 class="titulo-parte">Projetos do STEMB</h1>
            <img class="foto" src="/assets/foto-stemb.jpg">
            <p class="texto-parte">Através do coletivo elas desenvolveram 3 projetos: <br> > Por mais mulheres em STEM<br> > Minicurso Jornada Criativa<br> > Explorando o mundo da tecnologia</p>
        </div>
        <div class="partes">
            <div class="box-tag">
                <img id="tag1" src="/assets/if.png"> 
                <div class="linha2"></div>
            </div>
            <h1 class="titulo-parte">Tecverso - 2022</h1>
            <img class="foto" src="/assets/foto-stemb.jpg">
            <p class="texto-parte">A ideia do Tecverso surgiu a partir do projeto Explorando o mundo da recnologia, com objetivo de apresentar o universo da tecnologia e incentivar meninas na área em um site.</p> 
        </div>
    </div>
</section>
<section id="sobre3" *ngIf="div">
    <h1 class="titulo-sobre">Criadoras</h1>
    <div id="container">
        <div class="box-criadoras">
            <div class="box-nome">
                <img class="mini-logo" src="">
            <h2 class="nome-craidora">Amanda Gomes</h2>
            </div>
            <img class="img-criadora" src="/assets/foto-stemb.jpg">
            <p class="sobre-criadora">IDADE: 20 anos.<br>INTERESSES: XXXX. INSPIRAÇÃO: Malala</p>
        </div>
        <div class="box-criadoras">
            <div class="box-nome">
                <img class="mini-logo" src="">
            <h2 class="nome-craidora">Júlia Guilhermino</h2>
            </div>
            <img class="img-criadora" src="/assets/foto-stemb.jpg">
            <p class="sobre-criadora">IDADE: 19 anos.<br>INTERESSES: exploradora dos universos da tecnologia da informação e da educação. INSPIRAÇÃO: Não sei ainda</p>
        </div>
        <div class="box-criadoras">
            <div class="box-nome">
                <img class="mini-logo" src="">
            <h2 class="nome-craidora">Maria Eduarda Oliveira</h2>
            </div>
            <img class="img-criadora" src="/assets/foto-stemb.jpg">
            <p class="sobre-criadora">IDADE: 18 anos.<br>INTERESSES: XXXX. INSPIRAÇÃO: xxxxx</p>
        </div>
    </div>
</section>