<section id="capa">
    <div id="ceu">
        <img id="planeta-rosa2" src="/assets/planeta-rosa.png">
        <img id="lua2" src="/assets/lua.png">
        <img id="planeta-rosinha2" src="/assets/planeta-rosinha.png">
        <img id="planeta-azul2" src="/assets/planeta-azul.png">
        <img id="planeta-amarelo2" src="/assets/planeta-amarelo.png">
        <div id="stars">
            <img id="s1" src="/assets/estrela.png">
            <img id="s2" src="/assets/estrela.png">
            <img id="s3" src="/assets/estrela.png">
            <img id="s4" src="/assets/estrela.png">
            <img id="s5" src="/assets/estrela.png">
            <img id="s6" src="/assets/estrela.png">
            <img id="s7" src="/assets/estrela.png">
            <img id="s8" src="/assets/estrela.png">
            <img id="s9" src="/assets/estrela.png">
            <img id="s10" src="/assets/estrela.png">
            <img id="s11" src="/assets/estrela.png">
            <img id="s12" src="/assets/estrela.png">
            <img id="s13" src="/assets/estrela.png">
            <img id="s14" src="/assets/estrela.png">
            <img id="s15" src="/assets/estrela.png">
            <img id="s16" src="/assets/estrela.png">
            <img id="s17" src="/assets/estrela.png">
        </div>
    </div>
    <h1 class="titulo-sobre">Principio do Principio</h1>
    <h2 id="subtitulo-sobre">“Três garotas embarcaram em uma jornada por um mundo desconhecido e essa aventura acabou criando um novo universo...”</h2>
</section>
<section id="tela-trilha">
    
</section>