<section id="capa">
    <img id="ada-capa" src="/assets/ada-capa-trilha.png">
    <div id="box-titulo">
        <img id="planeta-trilha" [src]="artig.planetaImg">
        <h1 id="titulo-artigo">{{artig.titulo}}</h1>
        <h2 id="subtitulo-artigo">{{artig.subtitulo}}</h2>
    </div>
</section>
<section id="conteudo">
    <div class="tela">
        <div class="topo"></div>
        <div class="cont" *ngIf="div1">
            <div class="box-text">
                <p class="text"> {{artig.texto1}} </p>
            </div>
            <input class="bnt" type="button" value="PRÓXIMO" (click)="mostrarDiv2()">
            <div class="box-img">
                <img class="img-art" [src]="artig.img1">
                <p class="leg">{{artig.leg1}}</p>
            </div>
        </div>
        <div class="cont" *ngIf="div2">
            <div class="box-text">
                <p class="text"> {{artig.texto2}} </p>
            </div>
            <input class="bnt" type="button" value="VOLTAR" (click)="mostrarDiv1()">
            <div class="box-img">
                <img class="img-art" [src]="artig.img2">
                <p class="leg">{{artig.leg2}}</p>
            </div>
        </div>
    </div>
</section>
<section id="mapa-mental">
    <div class="tela">
        <div class="topo">
            <h1 class="nome-tela">Mapa da Ada</h1>
        </div>
        <div class="cont">
            <img [src]="artig.mp">
        </div>
    </div>
</section>
<section id="indicacoes">
    <div class="tela">
        <div class="topo">
            <h1 class="nome-tela">Ada Indica</h1>
        </div>
        <p class="ind-intro">A jornada esta apenas começando! Continue explorando esse assunto em outros universos.</p>
        <div class="inds">
            <div class="tag-ind">
                <img class="ind-img" src="/assets/icon-yt.png">
                <h1 class="ind-titulo">{{artig.ind1Titulo}}</h1>
                <p class="ind-desc">{{artig.ind1Desc}}</p>
                <a class="bnt-ind" [href]="artig.ind1Link">ACESSAR</a>
            </div>
            <div class="tag-ind">
                <img class="ind-img" src="/assets/icon-pod.png">
                <h1 class="ind-titulo">{{artig.ind2Titulo}}</h1>
                <p class="ind-desc">{{artig.ind2Desc}}</p>
                <a class="bnt-ind" [href]="artig.ind2Link">ACESSAR</a>
            </div>
            <div class="tag-ind">
                <img class="ind-img" src="/assets/icon-blog.png">
                <h1 class="ind-titulo">{{artig.ind3Titulo}}</h1>
                <p class="ind-desc">{{artig.ind3Desc}}</p>
                <a class="bnt-ind" [href]="artig.ind3Link">ACESSAR</a>
            </div>
            <div class="tag-ind">
                <img class="ind-img" src="/assets/icon-filme.png">
                <h1 class="ind-titulo">{{artig.ind4Titulo}}</h1>
                <p class="ind-desc">{{artig.ind4Desc}}</p>
                <a class="bnt-ind" [href]="artig.ind4Link">ACESSAR</a>
            </div>
        </div>
    </div>
</section>