<section id="capa">
    <img id="ada-capa" src="/assets/ada-capa-trilha.png">
    <div id="box-titulo">
        <img id="planeta-trilha" src="/assets/planeta-rosinha.png">
        <h1 id="titulo-artigo">{{artig.trilha}}</h1>
        <h2 id="subtitulo-artigo">Frase que resuma o conteúdo do artigo</h2>
    </div>
</section>
<section id="conteudo">
    <div class="tela">
        <div class="topo">
            <h1 class="nome-tela"> {{artig.trilha}} | {{artig.titulo}} </h1>
        </div>
        <div class="cont" *ngIf="div1">
            <div class="box-text">
                <p class="text"> {{artig.texto1}} </p>
            </div>
            <input class="bnt" type="button" value="PRÓXIMO" (click)="mostrarDiv2()">
            <div class="box-img">
                <img class="img-art" src="" alt="">
                <p class="leg">FONTE: de onde a imagem foi tirada.</p>
            </div>
        </div>
        <div class="cont" *ngIf="div2">
            <div class="box-text">
                <p class="text"> {{artig.texto2}} </p>
            </div>
            <input class="bnt" type="button" value="VOLTAR" (click)="mostrarDiv1()">
            <div class="box-img">
                <img class="img-art" src="" alt="">
                <p class="leg">FONTE: de onde a imagem foi tirada.</p>
            </div>
        </div>
    </div>
</section>
<section id="mapa-mental">
    <div class="tela">
        <div class="topo">
            <h1 class="nome-tela">Mapa da Ada</h1>
        </div>
        <div class="cont">
            <img [src]="artig.mp">
        </div>
    </div>
</section>
<section id="indicacoes">
    <div class="tela">
        <h1 class="nome-tela">Ada Indica</h1>
        <div class="indicacao-texto">
            <div id="box-texto-img">
                <img class="indicacao-texto-img" [src]="artig.iconTexto" alt="">
            </div>
            <h1 class="indicacao-texto-titulo"> {{artig.tituloTexto}} </h1>
            <p class="indicacao-texto-descricao"> {{artig.descricaoTexto}} </p>
        </div>
        <div class="indicacao-youtube">
            <div id="box-youtube-img">
                <img class="indicacao-youtube-img" [src]="artig.iconYoutube" alt="">
            </div>
            <h1 class="indicacao-youtube-titulo"> {{artig.tituloYoutube}} </h1>
            <p class="indicacao-youtube-descricao"> {{artig.descricaoYoutube}} </p>
        </div>
        <div class="indicacao-podcast">
            <div id="box-podcast-img">
                <img class="indicacao-podcast-img" [src]="artig.iconPodcast" alt="">
            </div>
            <h1 class="indicacao-podcast-titulo"> {{artig.tituloPodcast}} </h1>
            <p class="indicacao-podcast-descricao"> {{artig.descricaoPodcast}} </p>
        </div>
        <div class="indicacao-filme">
            <div id="box-filme-img">
                <img class="indicacao-filme-img" [src]="artig.iconFilme" alt="">
            </div>
            <h1 class="indicacao-filme-titulo"> {{artig.tituloFilme}} </h1>
            <p class="indicacao-filme-descricao"> {{artig.descricaoFilme}} </p>
        </div>
    </div>
</section>