<section id="capa">
    <div id="container-titulo">
        <div id="postion-capa">
            <div id="stars">
                <img id="planeta-rosa" src="/assets/planeta-rosa.png">
                <img id="lua" src="/assets/lua.png">
                <img id="planeta-azul" src="/assets/planeta-azul.png">
                <img id="planeta-amarelo" src="/assets/planeta-amarelo.png">
                <img id="estrela1" src="/assets/estrela.png">
                <img id="estrela2" src="/assets/estrela.png">
                <img id="estrela3" src="/assets/estrela.png">
                <img id="estrela4" src="/assets/estrela.png">
                <img id="estrela5" src="/assets/estrela.png">
                <img id="estrela6" src="/assets/estrela.png">
                <img id="estrela7" src="/assets/estrela.png">
                <img id="estrela8" src="/assets/estrela.png">
                <img id="estrela9" src="/assets/estrela.png">
                <img id="estrela10" src="/assets/estrela.png">
                <img id="estrela11" src="/assets/estrela.png">
                <img id="estrela12" src="/assets/estrela.png">
                <img id="estrela13" src="/assets/estrela.png">
                <img id="estrela14" src="/assets/estrela.png">
                <img id="estrela15" src="/assets/estrela.png">
                <img id="estrela16" src="/assets/estrela.png">
                <img id="estrela17" src="/assets/estrela.png">
                <img id="estrela18" src="/assets/estrela.png">
            </div>
            <div id="box-titulo">
                <h1 id="titulo-capa">OLÁ MUNDO!</h1>
                <h2 id="subtitulo-capa">Comece sua jornada pelo universo da tecnologia</h2>
            </div>
            <img id="planeta-rosinha" src="/assets/mega-planeta.png">
        </div>
    </div>
</section>
